parameters:
    paths:
        - src/
    level: 5
    ignoreErrors:
        -
            message: "#^Call to an undefined static method Deegitalbe\\\\LaravelTrustupIoSlackNotifications\\\\Facades\\\\Package\\:\\:getConfig\\(\\)\\.$#"
            count: 1
            path: src/SlackNotifiableChannel.php
        -
            message: "#^Call to an undefined static method Deegitalbe\\\\LaravelTrustupIoSlackNotifications\\\\Facades\\\\Package\\:\\:getConfig\\(\\)\\.$#"
            count: 1
            path: src/SlackNotification.php
